ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ad95e6;
}
li > a {
  text-decoration: none;
  color: #000000;
}
.navigation {
  background-color: #ad95e6;
  margin: 0 30px;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -40px;
}
