li > a {
  text-decoration: none;
  color: #000000;
}
h1 {
  position: relative;
  top: -10px;
  left: 148px;
  z-index: -1;
}
.navigation {
  background-color: #ad95e6;
  margin: 0 30px;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -40px;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ad95e6;
}
.role {
  position: relative;
  top: 50px;
  z-index: -1;
}
.project-header {
  text-align: center;
  position: relative;
  margin: 65px auto;
  top: 45px;
}
#projects {
  margin: 30px auto;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 30px auto;
}
#welcome-section img {
  position: relative;
  left: 30px;
  top: 100px;
  z-index: -1;
}
#welcome-section {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
