li > a {
  text-decoration: none;
  color: #000000;
}
h1 {
  display: block;
  margin: -48px 30px 20px;
}
.navigation {
  background-color: #ad95e6;
  margin: 0 30px;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -40px;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ad95e6;
}
.role {
}
#welcome-section img {
  position: relative;
  left: 30px;
  top: 100px;
  z-index: -1;
}
#welcome-section {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
